@page "/search"

@inherits BeerListBase

<h1>Beer Finder</h1>

<p>Enter the name of the beer you want then click Search.</p>

<div class="col-md-3">
    <div class="input-group mb-3">
        <input type="text" class="form-control" @bind-value="@searchTerm" placeholder="ex: pilsnerd" aria-label="Search term" aria-describedby="button-addon2">
        <button class="btn btn-outline-success" @onclick="@(async () => await OnSearchAsync())" type="button" id="button-addon2">Search!</button>
    </div>
</div>


@if (Beers == null)
{
    <p><em>Nothing to see here... Let's search for some beer!</em></p>
}
else
{
    <table class="table table-hover table-responsive-sm">
        <thead>
            <tr>
                <th>Source</th>
                <th>Name</th>
                <th>ABV</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var beer in Beers)
            {
                <tr>
                    <td>@beer.src</td>
                    <td>@beer.name</td>
                    <td>@beer.abv</td>
                    <td>@beer.desc</td>
                </tr>
            }
                
        </tbody>
    </table>
}

@code {


}